#content {
    margin: auto;
    width: 90%;
}
.detail {
	display: block;
    font-size: medium;
    margin-top: 0.6em;
}
.no-border {
	border: none;	
}
.no-line{
	text-decoration: none;
}
.routeItem {
	height: 130px;
    text-align: center;
    width: 160px;
}
.title{
    display: block;
    font-size: xx-large;
    margin-bottom: 1em;
    text-align: center;
}
.total-width {
	width: 100%;
}
.total-width:hover {
	background-color: #DFEFFC;
	color: #2E6E9E;
}