#content {
    margin: auto;
    width: 90%;
}
.button:visited {
	color: black;
}
.detail {
	display: block;
    font-size: medium;
    margin-top: 0.6em;
}
.no-border {
	border: none;
}
.no-border td, .no-border tr {
	border: none !important;
}
.no-line {
	text-decoration: none;
}
.loading {
    bottom: 50%;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.required {
	background-image: url("#{resource['images:required.png']}");
	background-repeat: no-repeat;
    margin-left: -15px;
    padding-left: 18%;
    position: relative;
}
.routeItem {
	height: 130px;
    text-align: center;
    width: 160px;
}
.select {
	width: 70px !important;
}
.tab {
	margin-top: 1%;	
}
.text-button {
	display: block;
    font-size: medium;
}
.title {
    color: #2E6E9E;
    display: block;
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 1em;
}
.total-width {
	width: 100%;
}
.total-width:hover {
	background-color: #DFEFFC;
	color: #2E6E9E;
}