#content {
    margin: auto;
    width: 90%;
}
.button:visited {
	color: black;
}
.detail {
	display: block;
    font-size: medium;
    margin-top: 0.6em;
}
.no-border {
	border: none;
}
.no-line{
	text-decoration: none;
}
.routeItem {
	height: 130px;
    text-align: center;
    width: 160px;
}
.tab{
	margin-top: 1%;
}
.text-button {
	display: block;
    font-size: medium;
}
.title{
    color: #2E6E9E;
    display: block;
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 1em;
}
.total-width {
	width: 100%;
}
.total-width:hover {
	background-color: #DFEFFC;
	color: #2E6E9E;
}